@import "src/shared/styles/vars.module.scss";

.title {
  color: $light;
  font-weight: $fwBold;

  &H3 {
    margin-top: $indentDefaultMd;
    @media screen and ((max-width: $phones) or (max-height: $phones)) {
      margin-top: $indentDefaultSm;
    }
  }

  &H4 {
    margin-bottom: $indentLow;
    margin-top: $indentDefaultSm;
  }
}

.line {
  margin: $indentDefaultSm 0;
}

.text {
  font-size: $fsTextL;
  margin: $indentLow 0;
  color: $light;

  @media screen and (max-width: $ipadLg) {
    font-size: $fsTextMd;
  }
}

.li {
  display: flex;
  gap: $indentLow;
  align-items: center;
}

.squareImg {
  width: 16px;
  height: 16px;
}