@import "src/shared/styles/vars.module.scss";

.container {
  z-index: $zIndexAside;

  margin-top: $headerHeight / 2;
  min-height: 100vh;
  width: 25%;
  background: $bgDarkGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -($footerHeight / 2);

  @media screen and (max-width: $ipadLg) {
    width: 35%;
  }

  @media screen and ((max-width: $ipadSm) or (max-height: $ipadSm)) {
    margin-top: $headerHeightMobile;
    width: 100%;
    min-height: 0;
    padding-top: $indentDefaultMd;
    margin-bottom: 0;
  }
}

.myImg {
  height: 230px;
  width: 230px;
  border-radius: 50%;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 $indentDefaultMd;

  @media screen and ((max-width: $ipadSm) or (max-height: $ipadSm)) {
    padding-bottom: $indentDefaultMd;
  }

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    padding: 0 $indentDefaultSm $indentDefaultSm $indentDefaultSm;
  }
}