@import "src/shared/styles/vars.module.scss";

.container {
  flex: 1;
  margin: $indentDefaultMd + $headerHeight $indentDefaultXl $indentDefaultMd $indentDefaultXl;
  @media screen and (max-width: $ipadLg) {
    margin: $indentDefaultMd + $headerHeight $indentDefaultMd $indentDefaultMd $indentDefaultMd;
  }

  @media screen and ((max-width: $ipadSm) or (max-height: $ipadSm)) {
    margin: $indentDefaultMd;
  }

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    margin: $indentDefaultSm;
  }
}