@import "src/shared/styles/vars.module.scss";

.container {
  flex: 1;
  margin: $indentDefaultMd + $headerHeight $indentDefaultXl $indentDefaultMd $indentDefaultXl;
  @media screen and (max-width: $ipadLg) {
    margin: $indentDefaultMd + $headerHeight $indentDefaultMd $indentDefaultMd $indentDefaultMd;
  }

  @media screen and ((max-width: $ipadSm) or (max-height: $ipadSm)) {
    margin: $indentDefaultMd;
  }

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    margin: $indentDefaultSm;
  }
}

.text {
  color: $gray;
}

.nameTitle {
  font-weight: $fwBold;
  letter-spacing: 6px;

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    font-size: $fsTextXXL;
  }
}

.jobTitle {
  letter-spacing: 2px;

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    font-size: $fsTextXL;
  }
}

.jobDesc {
  margin: $indentDefaultMd 0;
  color: $lightGray;
  font-size: $fsTextMd;
  line-height: $fsTextMd * 1.4;

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    margin: $indentDefaultSm 0;
  }
}

.experience {
  font-weight: $fwBold;
  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    font-size: $fsTextXL
  }

}

.line {
  margin: $indentDefaultSm 0;
}