@import "src/shared/styles/vars.module.scss";

.container {
  background: $bgDarkGray;
  height: $footerHeight;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    height: $footerHeightMobile;
  }
}

.text {
  color: $lightGray;
  font-size: $fsSmall;

  @media screen and ((max-width: $phones) or (max-height: $phones)) {
    font-size: $fsESmall;
  }
}