.flowWrapper {
  width: 100%;
  height: 100%;

  :global(.react-flow__handle) {
    display: none;
  }

  :global(.react-flow__attribution) {
    display: none;
  }

  :global(.react-flow__node) {
    transition: background-color 0.3s, padding-left 0.3s, padding-right 0.3s;
  }
}
